<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>youzhuan1</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>

    <servlet-name>ShipinpingjiaCl</servlet-name>
    <servlet-class>cn.yutongjiaoyu.zhangwei.djzx.bl.ShipinpingjiaCl</servlet-class>
    
  </servlet>
  
  <servlet>
   <servlet-name>AddRole</servlet-name>
    <servlet-class>cn.yutongjiaoyu.zhangwei.djzx.bl.AddRole</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>

    <servlet-name>ViewCl</servlet-name>
    <servlet-class>cn.yutongjiaoyu.zhangwei.djzx.bl.ViewCl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShipinpingjiaCl</servlet-name>
    <url-pattern>/ShipinpingjiaCl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewCl</servlet-name>
    <url-pattern>/ViewCl</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteRole</servlet-name>
    <servlet-class>cn.yutongjiaoyu.zhangwei.djzx.bl.deleteRole</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchRole</servlet-name>
    <servlet-class>cn.yutongjiaoyu.zhangwei.djzx.bl.SearchRole</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AlertPage</servlet-name>
    <servlet-class>AlertPage</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>AddRole</servlet-name>
    <url-pattern>/AddRole</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>deleteRole</servlet-name>
    <url-pattern>/deleteRole</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchRole</servlet-name>
    <url-pattern>/SearchRole</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlertPage</servlet-name>
    <url-pattern>/AlertPage</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>